version: '3.5'

services:
  server:
    container_name: sale-main
    build: .
    image: sale:main
    ports:
      - '8100:3000'
    restart: always
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
